<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Stylesheets -->
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <!-- Title, etc.-->
    <title>Music Visualization Application</title>
</head>
<body>

	<div class="track_player">
	<audio></audio>
		<div class="playback_div">
			
			<div class="track_img">
				<img src="../static/img/album_art.jpg" class="rotate">
				<div class="track_img_center">
					
				</div>
			</div>


			<div class="track_information">	
				<h5 id="track_name">Mad Trick</h5>
				<h6 id="track_artist">Mr. Kimy</h6>
			</div>

			<div class="track_seek">
				<input type="range">
			</div>

			<div class="track_control">
				<div class="track_play_pause paused">
					<i class="fa fa-play"></i>
				</div>
			</div>

		</div>

<!-- 		<div class="sliding_menu">
			<div class="form_input">
				<input type="text" placeholder="SoundCloud URL" class="input_field">
				<input type="submit" value="submit">
			</div>
		</div> -->

	</div>
<script src="https://threejs.org/build/three.js"></script>
<script src="../static/js/test_animation.js"></script>
<script src="../static/js/animation_resize.js"></script>
</body>
</html> 