@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400&display=swap");

* {
  box-sizing: border-box;
}

/* Background of the website contains both the gradient and the stars, to speed upperformance as opposed to rendering a new mesh of stars for each use */
body {
  display: block;
  align-items: center;
  justify-content: center;

  margin: 0;
  height: 100vh;
  width: 100vw;

  font-family: "Commissioner", sans-serif;

  font-weight: 400;
  color: #cacaca;

  background-image: url("../img/BG.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
/* Canvas fills its div container fully */
canvas {
  width: 100%;
  height: 100%;
}

/* Animation div container takes up top 70% of page */
#animation_div {
  width: 100%;
  height: 70%;
}

/* Player div container takes up remaining bottom 30% of page */
#player_div {
  width: 100%;
  height: 30%;
}

.player_body {
  width: 620px;
  height: 200px;
  padding: 10px 10px 10px 10px;
  border-radius: 11px;
  overflow: auto;
  /* position: absolute; */
  background: #2b2b2b;
  margin: 0 auto;
}

.upper_body {
  overflow: hidden;
  text-align: center;
  width: 600px;
  height: 100%;
  margin: 0 auto;
  border-radius: 12px;
  background: linear-gradient(
    329deg,
    rgba(27, 27, 27, 1) 74%,
    rgba(50, 55, 56, 1) 97%
  );
  box-shadow: 4px 6px 10px #0b0b0b, -4px -4px 4px #2b2b2b;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.upper_body .upper_body_header {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 15%;
  margin: 0 auto;
  background-image: url("../img/header.jpg");
  background-size: 100% 100%;
  border-radius: 10px;
  box-shadow: 7px 7px 7px #0b0b0b, -4px -4px 4px #2b2b2b;
}

.upper_body .left_panel {
  margin: auto;
  overflow: hidden;
  width: 59%;
  box-shadow: 13px 11px -1px #111, 0px -3px 19px #565656;
  min-width: 175px;
  max-width: 175px;
  height: 100%;
}

.upper_body .left_panel img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.upper_body .central_panel {
  box-shadow: inset 4px 2px 0px #131313, inset -1px -1px 4px #262626;
  border-radius: 3px;
  min-width: 250px;
  max-width: 250px;
}

.upper_body .track_info {
  overflow: hidden;
  margin: 0 auto;
  line-height: 0px;
  white-space: nowrap;
  min-width: 225px;
  max-width: 225px;
}

.upper_body .track_info .track_info_position {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.upper_body .track_info .track_title_outer h5 {
  color: #aeaeae;
}

.upper_body .track_info .track_artist_outer h5 {
  color: #aeaeae;
}

/* Marquee effect CSS learned from https://stackoverflow.com/questions/21233033/how-can-i-create-a-marquee-effect */
.marquee span {
  display: inline-block;
  padding-left: 100%;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee {
    white-space: nowrap;
  }
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    /* instead of animation: none, so an animationend event is 
     * still available, if previously attached.
     */
    padding-left: 0;
  }
}

.upper_body .track_controls {
  overflow: hidden;
  margin: 0 auto;
  height: 51%;
  width: 100%;
  border-radius: 19px;
}

.track_seeker_progress {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.track_seeker_progress p {
  color: #aeaeae;
  font-size: 10px;
}

.upper_body .track_controls .track_seeker {
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  width: 80%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 3px 1px 0px #0b0b0b inset, -3px 1px 11px #333 inset;

  border-radius: 150px;
  background: #1b1b1b;

  height: 6%;
}

/* Inspiration for cross-browser compatible seeker/range input box-shadow workaround for displaying progress by Noah Blon found here: https://codepen.io/noahblon/pen/OyajvN*/

input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 10px;
  width: 215px;
  cursor: pointer;
  background: transparent;
  border-radius: 10px;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: transparent;
  outline: none;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  background: #8aafdc;
  box-shadow: -100vw 0px 0px 99.9vw #ff7700;
  border: none;
}

::-moz-range-track {
  height: 9px;
  background: transparent;
}

::-moz-range-thumb {
  background: #8aafdc;
  height: 0px;
  width: 0px;
  border: none;
  box-shadow: -100vw 0px 0px 100vw #ff7700;
  box-sizing: border-box;
}

.upper_body .track_controls .track_buttons {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.upper_body .track_controls .track_buttons button {
  border-radius: 13px;
  background: #202020;
  box-shadow: 3px 2px 4px #121412, -1px -1px 7px #2d3232;
  border: none;
  outline: none;
  cursor: pointer;
}

.upper_body .track_controls .track_buttons button:active {
  box-shadow: inset 8px 8px 16px #171717, inset -8px -8px 16px #333333;
}

.upper_body .track_controls .track_buttons .volume_button {
  height: 30px;
  width: 30px;
}

.fa-volume-down,
.fa-volume-up,
.fa-play,
.fa-pause,
.fa-sync {
  color: #aeaeae;
}

.upper_body .track_controls .track_buttons .play_pause_button {
  height: 37px;
  width: 37px;
}

.upper_body .right_panel {
  min-width: 175px;
  max-width: 175px;
}
.upper_body .user_messaging {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
}

.upper_body .user_messaging i {
  color: #ff7700;
  /* margin-top: 5px; */
  /* font-size: 12px; */
}

.upper_body .user_messaging a {
  color: #ff7700;
  /* font-size: 12px; */
  font-weight: bold;
  /* text-decoration: none; */
}

.upper_body .track_input .user_input_form {
  margin: 0 auto;
  width: 95%;
  border-radius: 10px;
  background: #1b1b1b;
  box-shadow: 4px 2px 3px #0b0b0b inset, 3px 2px 17px #4a4a4a inset;
  margin-top: 0px;
}

input[type="text"] {
  border: none;
  outline: none;
  background: none;
  width: 90%;
  color: #fff;
  caret-color: #fff;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Styling of input form to remove default autofill background for Chrome/Edge found here: https://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.upper_body .track_input .user_input_button {
  margin-top: 12px;
}

.upper_body .track_input .user_input_button button {
  border-radius: 23px;
  background: #202020;
  box-shadow: 3px 2px 10px #0c0c0c, -1px -1px 17px #262b2b;
  border: none;
  outline: none;
  color: #ff7700;
  height: 20px;
  width: 116px;
  cursor: pointer;
}

.upper_body .track_input .user_input_button button:active {
  box-shadow: inset 8px 8px 16px #171717, inset -8px -8px 16px #333333;
}

#error_message {
  color: #eb8181;
  font-size: 11px;
}

.popup {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 1%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_content {
  background-color: #131313;
  margin: auto;
  padding: 10px;
  border: 1px solid #333333;
  width: 32%;
  border-radius: 13px;
}

.user_emphasis {
  color: #ff7700;
  font-weight: bold;
}

.popup_content_text p {
  font-size: 12px;
}

.popup_content_text h3,
h4 {
  color: #ff7700;
}
.popup_content_text img {
  margin: 0 auto;
  height: 45%;
  width: 45%;
}

#exit {
  color: #ff7700;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

#exit:hover,
#exit:focus {
  color: #eb8181;
  text-decoration: none;
  cursor: pointer;
}
